.board {
    &__add-btn {
        height: 48px;
    }
    &__link {
        color: #000;
        text-decoration: none;
    }

}

.button-icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 0 6px;
}

.button-icon:hover {
    background-color: rgb(208, 201, 201);
}
