@media (max-width: 580px) { 
    .modal {
        width: 90%;

        h6 {
            font-size: 18px;
        }
        p {
            font-size: 13px;
        }
        button {
            font-size: 13px;
        }
    }
}
