.list-item-text {
  font-size: 16px;
  font-family: 'Montserrat';
}
@media(max-width: 900px){
  section.css-1fat0eg{
    height: 450px;
  }
}

@media(max-width: 700px){
  section.css-1fat0eg{
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  div.css-5boq34{
    margin-top: 30px;
    width: 100%;
  }
  div.css-1rfw6gp{
    height: 373px;
  }
  div.css-18zyau5{
    flex-direction: column;
  }
  section.css-36s324{
    padding-bottom: 40px;
  }
  div.css-1wcuqfe-MuiPaper-root-MuiCard-root{
    width: 100%;
    display: flex;
    img{
      max-width: 100px;
      max-height: 100px;
      align-self: center;
      margin-right: 50px;
    }
  }
}

@media(max-width: 600px){
  div.css-1rfw6gp{
    height: 300px;
  }
}

@media(max-width: 450px){
  div.css-1rfw6gp{
    height: 200px;
  }
  h1.css-o38lf5-MuiTypography-root{
    font-size: 45px;
  }
  div.css-1wcuqfe-MuiPaper-root-MuiCard-root{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      margin-right: 0;
    }
  }
}

@media(max-width: 400px){
  h1.css-o38lf5-MuiTypography-root{
    font-size: 35px;
  }
  div.css-1rfw6gp{
    height: 150px;
  }
}
